@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  position: relative;
  min-height: 100vh;
}

/* PRIMARY COLOR THEME */
/*https://www.tailwindshades.com/
DEFAULT: '#997A56',
50: '#EEE8E1',rgb(238,232,225)
100: '#E7DED4', rgb(231,222,212)
200: '#D8CABA', rgb(216,202,186)
300: '#CAB6A0', rgb(202,182,160)
400: '#BBA286', rgb(187,162,134)
500: '#AC8E6C', rgb(172,142,108)
600: '#997A56', rgb(153,122,86)
700: '#755D42', rgb(117,93,66)
800: '#51412E', rgb(81,65,46)
900: '#2D2419', rgb(45,36,25)
950: '#1B160F' rgb(27, 22, 15)
*/

:root {
  --primary-50: 238, 232, 225;
  /* rgb(238,232,225) */
  --primary-100: 231, 222, 212;
  /* rgb(231,222,212) */
  --primary-200: 216, 202, 186;
  /* rgb(216,202,186) */
  --primary-300: 202, 182, 160;
  /* rgb(202,182,160) */
  --primary-400: 187, 162, 134;
  /* rgb(187,162,134) */
  --primary-500: 172, 142, 108;
  /* rgb(172,142,108) */
  --primary-600: 153, 122, 86;
  /* rgb(153,122,86) */
  --primary-700: 117, 93, 66;
  /* rgb(117,93,66) */
  --primary-800: 81, 65, 46;
  /* rgb(81,65,46) */
  --primary-900: 45, 36, 25;
  /* rgb(45,36,25) */
  --primary-950: 27, 22, 15;
  /* rgb(27,22,15) */

  --surface-0: 255 255 255;
  /*rgb(255 255 255);*/
  --surface-50: 250 250 250;
  /*rgb(250 250 250);*/
  --surface-100: 244 244 245;
  /*rgb(244 244 245);*/
  --surface-200: 228 228 231;
  /*rgb(228 228 231);*/
  --surface-300: 212 212 216;
  /*rgb(212 212 216);*/
  --surface-400: 161 161 170;
  /*rgb(161 161 170);*/
  --surface-500: 113 113 122;
  /*rgb(113 113 122);*/
  --surface-600: 82 82 91;
  /*rgb(82 82 91);*/
  --surface-700: 63 63 70;
  /*rgb(63 63 70);*/
  --surface-800: 39 39 42;
  /*rgb(39 39 42);*/
  --surface-900: 24 24 27;
  /*rgb(24 24 27);*/
  --surface-950: 9 9 11;
  /*rgb(9 9 11);*/

  --primary: var(--primary-500);
  --primary-inverse: var(--surface-0);
  --primary-hover: var(--primary-600);
  --primary-active-color: var(--primary-600);

  --primary-highlight-opacity: 0.1;
  --primary-highlight-inverse: var(--primary-700);
  --primary-highlight-hover-opacity: 0.2;
}

.dark {
  --primary: var(--primary-400);
  --primary-inverse: var(--surface-900);
  --primary-hover: var(--primary-300);
  --primary-active-color: var(--primary-300);

  --primary-highlight-opacity: 0.2;
  --primary-highlight-inverse: var(--surface-0);
  --primary-highlight-hover-opacity: 0.3;
}

.customized-primary {
  &:not(.dark) {
    --primary: var(--primary-950);
    --primary-inverse: var(--surface-0);
    --primary-hover: var(--primary-800);
    --primary-active-color: var(--primary-900);

    --primary-highlight-opacity: 1;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.8;
  }

  &.dark {
    --primary: var(--primary-50);
    --primary-inverse: var(--surface-950);
    --primary-hover: var(--primary-100);
    --primary-active-color: var(--primary-100);

    --primary-highlight-opacity: 0.1;
    --primary-highlight-inverse: var(--surface-0);
    --primary-highlight-hover-opacity: 0.2;
  }
}

@layer components {
  .link {
    @apply inline-block text-primary transition-colors hover:text-primary-300;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

main {
  @apply container mx-auto py-20 max-md:px-5 max-md:py-10 max-md:pb-20;
}

.with-bg-gradient {
  background: radial-gradient(circle, rgb(208 251 255) 0%, rgb(238 246 255) 100%);
}

.input-error {
  @apply text-xs text-red-500;
}

.banner-form {
  @apply relative m-auto flex w-96 flex-col max-sm:w-56;
}

.spinner-form {
  @apply absolute h-full w-full;
}

body {
    background-color: coral;
}
